body {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("https://wallpapercave.com/wp/xqpUrWQ.jpg");
    background-size: cover;
    background-attachment: fixed;
}
/*Corpo*/
.twobox {
    border: 1px solid black;
    max-width: 85%;
    width: 100%;
    margin: 15px 7.5%;
    padding: 8px;
    border-radius: 5px;
    background: lightgrey;
}
.cardbox {
    border: 1px black solid;
    height: auto;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.308) 2px 2px 3px 3px;
    font-size: 26px;
    text-align: center;
    padding: 10px;
}
#twobox {
    width: 25%;
    margin: auto 37.5% auto 37.5%;
}
.cardbox button {
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    transition: 0.4s;
    background-color: lightblue;
    outline: none;
}
.cardbox button:hover {
    transition: 0.4s;
    background-color: rgba(4, 4, 153, 0.856);
    color: white;
}
#divResultado {
    font-size: 40px;
    font-weight: 800;
}