body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    background-image: url("backgroud.png");
    background-size: cover;
}
/*Local de Login*/
.cardbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px auto auto 10%;
}
.box {
    background: lightgray;
    max-width: 400px;
    min-width: 180px;
    text-align: center;
    width: 90%;
    height: 320px;
    font-size: 24px;
    border: 2px solid blue;
    border-radius: 5px;
    padding-top: 10px;
    font-weight: 700;
}
.box button {
    width: 90px;
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px 5px 20px 5px;
    background-color: gray;
    outline: none;
    transition: 0.5s;
}
.box button:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}
.boxRegistro {
    margin: 50px auto auto auto;
    width: 60%;
    text-align: left;
    padding-left: 10%;
}
.boxRegistro input {
    width: 90%;
    height: 25px;
    background-color: lightgray;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 20px 0;
    outline: none;
    font-size: 20px;
}