.navbar {
    height: 80px;
    width: 100%;
    background: rgb(189, 189, 189);
    border-bottom: blue solid 3px;
    display: flex;
}
.navbar img {
    width: 200px;
}
.navbar ul {
    display: flex;
    margin: 15px 100px auto auto;
    list-style: none;
    float: right;
}
.navbar ul li {
    margin: 5%;
    font-size: 26px;
    font-weight: bold;
}
.navbar a {
    text-decoration: none;
    transition: 0.3s;
    color: blue
}
.navbar a:hover {
    transition: 0.3s;
    color: yellow;
}