body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    background-image: url("backgroud.png");
    background-size: cover;
}
/*Cabeçario*/
.navbar {
    height: 80px;
    width: 100%;
    background: rgb(189, 189, 189);
    border-bottom: blue solid 3px;
    display: flex;
}
.navbar img {
    width: 200px;
}
.navbar ul {
    display: flex;
    margin: 15px 50px auto auto;
    list-style: none;
    float: right;
}
.navbar ul li {
    margin: 5%;
    font-size: 26px;
    font-weight: bold;
}
.navbar a {
    text-decoration: none;
}