body {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("https://wallpapercave.com/wp/xqpUrWQ.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/*Corpo*/
.twobox {
  border: 1px solid black;
  max-width: 85%;
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  background: lightgrey;
}
.cardbox {
  border: 1px black solid;
  height: auto;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.308) 2px 2px 3px 3px;
  font-size: 26px;
  padding: 10px;
}
.cardbox ul {
  list-style: none;
  font-size: 26px;
  font-weight: bold;
}
.cardbox a {
  text-decoration: none;
  transition: 0.3s;
  color: blue
}
.cardbox a:hover {
  transition: 0.3s;
  color: yellow;
}
.cardbox h1 {
  font-size: 36px;
  font-weight: 700;
}